$bp-desktop:   1440px;
$bp-tablet-lg: 1024px;
$bp-tablet-md: 768px;
$bp-mobile:    480px;

$color-primary: #1C2A39;
$color-secondary: #5C6A79;
$color-accent: #a86bd1;
$color-dots: #9E98DC;
$color-button: #4C3DB2;
$color-cart-badge: #FF353A;
$color-stars: #F2C94C;
$background: #ffffff;

$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
